# IDE-specific files
.idea/
*.iml
.gradle/
build/
.DS_Store

# Logs
logs/

# Local configuration
local.properties

# Compiled class files
*.class

# Mobile-specific files
.metadata
.plugins
bin/

# Others
*.apk
*.aab
